exercise1/build_dir/
exercise1/lab1-testsuite-larger/lab1-test-dir/
exercise1/lab1-testsuite-larger/progs-test-lab1
exercise1/lab1-testsuite-larger/progs-test-lab1.hi
exercise1/lab1-testsuite-larger/progs-test-lab1.o
